<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='style/bootstrap.min.css') }}" />
    <link rel="stylesheet"  href="{{ url_for('static', filename='style/untitled.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">


</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Digital Chemical Intelligence</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/database">Database</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>Search. Organize. Compare</h2>
                <p>A comprehensive database of chemicals and their relation to the environment.&nbsp;</p><a class="btn btn-outline-light btn-lg" role="button" href="/database">Database</a>
            </div>
        </section>
        <section class="clean-block clean-info dark" style="padding-bottom: 0px;"></section>
        <section class="clean-block slider dark">
            <div class="container">
                <div class="block-heading" style="height: 210.188px;">
                    <h2 class="text-info" style="height: 36px;">&nbsp;Details of this Website</h2>
                    <p style="height: 60px;">This section is a placeholder for more information.</p>
                </div>
            </div>
            <div class="container">
                <div class="heading">
                    <h2></h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-flask-outline" style="width: 243px;height: 130px;margin: 150px;padding: 0px;font-size: 75px;"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">RDKit</h3>
                                <p class="card-text">Placeholder for more information</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-analytics-outline" style="font-size: 75px;margin: 150px;transform: scale(0);"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Interface Design</h3>
                                <p class="card-text">Placeholder for more information</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0" style="font-size: 75px;margin: -5px;padding: -18px 16px;"><i class="icon ion-social-buffer" style="margin: 150px;height: 0px;width: 108.2969px;padding: -4px;"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Database</h3>
                                <p class="card-text">Placeholder for more information</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="padding-top: 10px;">
        <div class="footer-copyright">
            <p>© 2021 Digital Chemical Intelligence</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
</body>

</html>